.root {
	position: relative;
}

.card {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
    min-width: 100%;
	max-width: 100%;
	display: inline-block;
}

.subcard {
	margin-top: 20px;
	margin-bottom: 20px;
}

.bullet {
	display: inline-block;
	margin: 0 2px;
	transform: scale(0.8);
}

.pos {
	margin-bottom: 12px;
}

.fab {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.completed {
	background-color: rgb(211, 211, 211) !important;
}

.uncompleted {
	background-color: white !important;
}